body {
    font-family: 'Poppins', sans-serif;
    color: rgb(245, 245, 245);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #BDE3FF;
    margin: 0;
  }
  
  p {
    font-family: 'Poppins', sans-serif;
    font-size: 18pt;
    text-align: justify;
    color: #07122A;
    display: inline-block;
  }
    /* img {
      background-color: transparent;
    } */

    .transparent-button {
      width: 100px;
      height: 50px;
      background: url('torteelogo.png') no-repeat;
      border: none;
      cursor: pointer;
    }
  
  .container {
    padding: 60px;
    align-content: center;
    font-family: 'Poppins', sans-serif;
    background-color: #BDE3FF;
    border-radius: 10px;
    width: 100%;
    max-width: 00px;
    height: 200px;
  }

  .secondContainer {
    display: block;
    font-family: 'Poppins', sans-serif;
    background-color: #BDE3FF;
    border-radius: 10px;
    width: 200px;
    
    
  }

#iceBreakerButton{

    background-color: #07122A;
    color: white;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    text-orientation: sideways;

  }

  .iceBreakerResponse {
    background-color: #ffffff;
    color: #ffffff;
    padding: 20px;
    border-color: rgb(0, 0, 0);
    border-width: 1px;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 400px;
    text-align: left;

  }
  
  .iceBreakerButton {
    display: block;
    font-family: 'Poppins', sans-serif;
    align-content: center;
    margin: 10px auto;
    padding: 10px 20px;
    border: none;
    background-color: #beffd0;
    color: rgb(0, 0, 0);

    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s;
  }
  
  #apodButton:hover {
    background-color: #e8ffe3;
  }
  